{% extends "base.html" %}
{% block body %}
<div class="container">
{% block header %}{{ super() }}{% endblock %}
<div class="row content">
    <div class="col-md-3 sidebar" style="padding: 0;">
        {% block greetings %}{{ super() }}{% endblock %}
        {% block menu %}{{ super() }}{% endblock %}
    </div>
    <div class="col-md-9 member-account">
        <div class="inner">
            <div class="row">
                <div class="col-md-6">
                {% if cart.products and cart.products.items()|length != 0 %}
                    <h2>Checkout</h2>
                    <h2>Your Shopping Cart</h2>
                    <table class="table">
                        <tr>
                            <th>Delete</th>
                            <th>Name</th>
                            <th>Qty</th>
                            <th>Total Price</th>
                        </tr>
                    {% for k, v in cart.products.items() %}
                        <tr>
                            <td><span class="delete" data-id="{{ k }}">X</span></td>
                            <td>{{ v.name }}</td>
                            <td>{{ v.qty }}</td>
                            <td>${{ '%d' % (v.qty * v.price) }}</td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td><strong>Total:</strong></td>
                            <td><strong>${{ '%d' % cart.total }}</strong></td>
                        </tr>
                    </table>
                    <form action="" method="post" name="login">
                        {{ form.hidden_tag() }}
                        <div>
                            <label for="email">Your email</label>
                            {% for error in form.email.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                            {{ form.email }}
                        </div>
                        <div>
                            <label for="first_name">First name</label>
                            {% for error in form.first_name.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                            {{ form.first_name }}
                        </div>
                        <div>
                            <label for="last_name">Last name</label>
                            {{ form.last_name }}
                        </div>
                        <div>
                            <label for="address">Address</label>
                            {% for error in form.address.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                            {{ form.address }}
                        </div>
                        <div>
                            <input type="submit" value="Submit">
                        </div>
                    </form>
                {% else %}
                    <h2>Checkout</h2>
                    {% if order_sent %}
                        <p>
                            Your order has been received successfully!<br>
                            All the details were sent on your email.
                        </p>
                    {% else %}
                        <p>Your shopping cart is empty.</p>
                    {% endif %}
                {% endif %}
                </div>
                <div class="col-md-6">
                    &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}