{% extends "base.html" %}
{% block body %}
<div class="container">
{% block header %}{{ super() }}{% endblock %}
<div class="row content">
    <div class="col-md-3 sidebar" style="padding: 0;">
        {% block greetings %}{{ super() }}{% endblock %}
        {% block menu %}{{ super() }}{% endblock %}
    </div>
    <div class="col-md-9 member-page">
        <div class="clearfix">
            <div class="member-page-left">
                <h2><a href="{{ url_for('live_bulletproof') }}">Live Bulletproof.</a></h2>
            </div>
            <div class="member-page-details">
                <div class="member-page-box member-account">
                    <a href="{{ url_for('member_account') }}">Member Account</a>
                    <a href="{{ url_for('member_account') }}">Update</a>
                </div>
                <div class="member-page-box member-limited-offer">
                    <a href="{{ url_for('limited_time_offer') }}">Limited Time Offers</a>
                </div>
                <div class="member-page-box member-bulletproof">
                    <a href="{{ url_for('shop') }}">Shop Bulletproof</a>
                </div>
                <div class="member-page-box member-rewards">
                    <a href="#">Member Rewards</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}